.container_final {
  background-color: aqua;
  width: 340px;
  height: 680px;
  border: 2px solid red;
}

.top_section {
  border: 2px solid black;
  height: 228px;
  border-radius: 20px;
  background-color: yellow;
  position: relative;
  align-items: center;
  width: 337px;

  overflow: hidden;
}

.arrow_left {
  border: 2px solid rgb(194, 33, 33);
  position: absolute;
  width: 50px;
  top: 32px;
  left: 10px;
  color: rgb(17, 167, 167);
  padding-top: 2px;
  cursor: pointer;
}
.arrow_name {
  z-index: 5;
  border: 2px solid rgb(194, 33, 33);
  position: absolute;
  width: 100px;
  top: 32px;
  left: 110px;
  color: rgb(17, 167, 167);
  padding-top: 2px;
  cursor: pointer;
}
.arrow_right {
  border: 2px solid red;
  position: absolute;
  top: 32px;
  width: 50px;
  right: 10px;
  color: blue;
  cursor: pointer;
}
.ellipse_arrow {
  position: absolute;
  top: 16px;
  width: 40px;
  height: 40px;
  left: 207px;
  border: 1px solid #1b1c06;
  background-color: #ece339;
  border-radius: 50%;
}
.ellipse_arrow1 {
  position: absolute;

  top: 69px;
  width: 90px;
  height: 90px;
  left: -69px;
  border: 1px solid #1b1c06;
  background-color: #ece339;
  border-radius: 50%;
}
.ellipse_arrow2 {
  position: absolute;

  top: -34px;
  width: 90px;
  height: 90px;
  left: 78px;
  border: 1px solid #1b1c06;
  background-color: #ece339;
  border-radius: 50%;
}

.ellipse_arrow3 {
  position: absolute;

  top: 88px;
  width: 90px;
  height: 90px;
  left: 279px;
  border: 1px solid #1b1c06;
  background-color: #ece339;
  border-radius: 50%;
}
.final_bottom_section > div {
  justify-content: space-between;
}
.middle_section_final {
  position: absolute;
  top: 100px;
  border: 1px solid red;
  width: 250px;
  margin-left: 40px;
}
.middle_section_final_boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid rgb(24, 3, 3);

  text-align: center;
  align-items: center;
}
.middle_section_final_boxes > div {
  border: 1px solid red;
  margin: auto;
}
.grid_final {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.grid_final > div {
  border: 1px solid red;
  height: 80px;
  width: 100px;

  padding-top: 20px;
}
.final_bottom_section_top > span:nth-child(1) {
  position: relative;
  right: 100px;
  font-weight: bolder;
  font-family: sans-serif;
}

.final_bottom_section_top > span:nth-child(2) {
  position: relative;
  left: 100px;
}
